#added-buttons {
    float: right;
  }
  
  #added-buttons .btn {
    /* background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8; */
    padding: 3px 6px;
  }
  